$bodyBG:#8DB5DD;
$linkClr: #D47B2D;
$linkStChg:lighten($linkClr, 10%);
$container: #FFFFFF;
$textCommon:white;
$linkHvr: lighten($linkStChg, 10%);
$subNavHvr: #E9B180;
$bookingClr: #F0F4FF;
$accordianClr: #FBFBFB;
$modalTabs: #FFE8D4;
